[package]
name = "frozen-map"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hashbrown = { version = "0.14.3", features = [] }
num-integer = { version = "0.1.45", features = [] }
